<h1 class="page-header">
  {{input class="form-control" placeholder="Nombre del procedimiento" value=model.name}}
  {{input class="form-control" placeholder="Tags separados por comma.." value=model.tags}}
</h1>


<div class="row">
  <div class="col-md-6">
    {{textarea class="form-control"
      placeholder="Descripción de los pasos y roles involucrados (markdown)"
      value=model.description
      rows=25
    }}
  </div>
  <div class="col-md-6">
    {{markdown-view value=model.description}}
  </div>
</div>

<h2 class="sub-header">Acciones</h2>
<button class="btn btn-success" {{action "saveModel" }}>Guardar</button>
<button class="btn btn-default" {{action "cancelEdition" }}>Cancelar</button>
<button class="btn btn-danger" {{action "deleteModel" }}>Eliminar</button>